<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=name%>

</p>
<a href="/user/signout" class="btn btn-secondary">Logout</a>
<a href="/user/reset/<%= id %>" class="btn btn-secondary">Reset Password</a>