<h1>
    Here is your new password for node authentication app.
</h1>
<p>
    <b><%= password%></b>
    <br>
    Please keep the password safe, it is recommended to reset your password after logging in to the app.
</p>